<form>
    <div class="container">
        <div class="row">
            <div class="col m-1">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
            </div>
            <div class="col ">
                <div class="m-1">
                  <label for="formGroupExampleInput" class="form-label">Example label</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
                </div>
            </div>
        </div>
    </div>
</form>